@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Rowdies:wght@700&display=swap');
:root{
    --primary-color:#161513;
    --secondary-color:#463F3A;
    --accent1-color:#A4A3A2;
    --heading-font: 'Rowdies', 'cursive';
    --paragraph-font:'Montserrat', 'sans-serif';
    --nav-background-color:#161513 ;
    --nav-link-color: white;
    --nav-hover-link-color: black;
    --nav-hover-background-color: white;
    --alternative-color:navy;
}
*{
    font-family: var(--paragraph-font);
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
.container{
    display:flex;
    justify-content: center;
}
.container img{
    max-width: 100%;
}
.container01{
    display: flex;
    justify-content: space-between;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.maps{
    text-align: center;
}
nav{
    
    font-size:1.2rem;
    text-align: right;

}
header{
    padding: 20px;
    display: grid;
	grid-template-columns: 120px 1.5fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img{
    max-width: 200px;
    height: auto;
}
nav{
    /* padding-left: 2.5%; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
nav a{
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
}
legend{
    font-size: 2em;
    color: rgb(128, 0, 0);
}
label{
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.3em;
}
button{
    width: 45%;
    margin: .5rem;
    background-color: rgb(128, 0, 0);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .50rem;
    font-size: 1.2rem;   
}
button:hover{
    background-color: rgb(128, 83, 0);
}
footer{
    display: flex;
}
footer nav{
    display: flex;
}
footer p{
    display: flex;
    flex: auto;
    align-items: flex-end;
}
#company-information{
    padding-bottom: 2rem;
}
.company-name{
    text-align: center;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}
.navigation a {
	display: block;
	padding: 20px;
	text-decoration: none;
}
.adventure img{
    width: 150px;
    height: 100px;
}
.forms{
    color:rgb(128, 0, 0); ;
}
.animation{
    color: var(--primary-color);
}
.animation:hover{
    color: var(--alternative-color);
    text-decoration: underline;
}
.flex-box{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}
.flex-box01{
    display: flex;
    flex-direction: row;
}
.submit{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.w-background img{
    width: 50px;
}