@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Rowdies:wght@700&display=swap');
:root{
    --primary-color:#161513;
    --secondary-color:#463F3A;
    --accent1-color:#A4A3A2;
    --heading-font: 'Rowdies', 'cursive';
    --paragraph-font:'Montserrat', 'sans-serif';
    --nav-background-color:#161513 ;
    --nav-link-color: white;
    --nav-hover-link-color: black;
    --nav-hover-background-color: white;
    --alternative-color:navy;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav{
    
    font-size:1.2rem;
    text-align: right;

}
header{
    padding: 20px;
    display: grid;
	grid-template-columns: 120px 1.5fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img{
    max-width: 200px;
    height: auto;
}
nav{
    /* padding-left: 2.5%; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
nav a{
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
}
li{
    margin: 0;
    padding: 0;
}
/* id clases */
#company-information{
    padding-bottom: 2rem;
}

/* classes css */
.w-background{
    background-color: white;
}
.w-background img{
    width: 50px;
}
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
    
}
.hero h1{
    position: absolute;
    top: 25px;
    left: 300px;
    color: white;
}
article{
    position: absolute;
    left: 70px;
    top: 120px;
    width: 85%;
    background-color: var(--accent1-color);
}
article .floating-image{
    max-width: 350px;
    float: right;
}
legend{
    font-size: 2em;
    color: rgb(128, 0, 0);
}
label{
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.3em;
}
button{
    margin: .5rem;
    background-color: rgb(128, 0, 0);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .50rem;
    font-size: 1.2rem;   
}
button:hover{
    background-color: rgb(128, 83, 0);
}
.submit-form{
    width: 45%;
}
footer p a{
    padding-left: 20px;
}
/* trips page */

#background-image{
    background-image: url("https://images.pexels.com/photos/13017112/pexels-photo-13017112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    padding: 10rem;
    background-blend-mode: multiply;
    background-color: rgb(102, 100, 100);
}
#background-home{
    background-image: url("https://images.pexels.com/photos/11158623/pexels-photo-11158623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    padding: 6rem;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(102, 100, 100);
}
table,td {
border: 1px solid #333;
border-collapse: collapse;
}

thead,tfoot {
background-color: var(--nav-background-color);
color: #fff;
}
.tittle-image{
    font-size: 3.5rem;
    color: white;
}

.flex-box-trips{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.offer{
    display: flex;
    justify-content: center;
    text-align: center;
}
.flex-box-trips02{
    text-align:justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.call-to-action-images{
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.call-to-action-images02{
    width: 400px;
}
button .boton-images{
    width: 90%;
    
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}
.navigation a {
	display: block;
	padding: 20px;
	text-decoration: none;
}
.company-name{
    text-align: center;
}
.animation{
    color: var(--primary-color);
}
.animation:hover{
    color: var(--alternative-color);
    text-decoration: underline;
}
.history-layout{
    display: flex;
    flex-direction: row-reverse;
}
.tittle-history{
    text-align: center;
}
.history-layout img{
    width: 400px;
}
.history-layout div h2 p{
    padding-left: 1.5rem;
    text-align: left;
}
.adventure{
    display: flex;
    flex-direction: row;
}
.adventure img{
    width: 150px;
    height: 100px;
}
.container01{
    display: flex;
    justify-content: space-between;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.maps{
    text-align: center;
}
.container{
    display:flex;
    justify-content: center;
}
.container img{
    max-width: 100%;
}
.flex-box{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}
.flex-box01{
    display: flex;
    flex-direction: row;
}
.flex-box02{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.submit{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.forms{
    color:rgb(128, 0, 0); ;
}
.space{
    padding-top: 2.5rem;
}
.call-to-action{
    text-align:justify;
    font-size: 18px;
}
.img-purpose{
    width: 400px;
    padding-right: 1rem;
}
/* .w-background img{
    width: 50px;
} */
footer{
    display: flex;
}
footer nav{
    display: flex;
}
footer p{
    display: flex;
    flex: auto;
    align-items: flex-end;
}