@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Rowdies:wght@700&display=swap');
:root{
    --primary-color:#161513;
    --secondary-color:#463F3A;
    --accent1-color:#A4A3A2;
    --heading-font: 'Rowdies', 'cursive';
    --paragraph-font:'Montserrat', 'sans-serif';
    --nav-background-color:#161513 ;
    --nav-link-color: white;
    --nav-hover-link-color: black;
    --nav-hover-background-color: white;
    --alternative-color:navy;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav{
    
    font-size:1.2rem;
    text-align: right;

}
header{
    padding: 20px;
    display: grid;
	grid-template-columns: 120px 1.5fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img{
    max-width: 200px;
    height: auto;
}
nav{
    /* padding-left: 2.5%; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
nav a{
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
}
li{
    margin: 0;
    padding: 0;
}

/* classes css */
.w-background{
    background-color: white;
}
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
    
}
.hero h1{
    position: absolute;
    top: 25px;
    left: 300px;
    color: white;
}
article{
    position: absolute;
    left: 70px;
    top: 120px;
    width: 85%;
    background-color: var(--accent1-color);
}
article .floating-image{
    max-width: 350px;
    float: right;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation li {
	flex: 1 1 100%;
}
.navigation a {
	display: block;
	padding: 20px;
	text-decoration: none;
}
.company-name{
    
    text-align: center;
}
.animation{
    color: var(--primary-color);
}
.animation:hover{
    color: var(--alternative-color);
    text-decoration: underline;
}
.history-layout{
    display: flex;
    flex-direction: row-reverse;
}
.tittle-history{
    text-align: center;
}
.history-layout img{
    width: 400px;
}
.history-layout div h2 p{
    padding-left: 1.5rem;
    text-align: left;
}
.adventure{
    display: flex;
    flex-direction: row;
}
.adventure img{
    width: 150px;
    height: 100px;
}
footer{
    display: flex;
}
footer nav{
    display: flex;
}
footer p{
    display: flex;
    flex: auto;
    align-items: flex-end;
}